#proyectos {
    text-align: center;
    line-height: 50px;
    
}
#proyectos h3{
    font-size: 38;
    border-style: groove;
    background-color: rgb(19, 25, 34);
    color:rgb(219, 217, 217);
    margin-bottom: 10px;
}

#proyectos h4{
    font-size: 45;
    border-style: groove;
    background-color: rgb(19, 25, 34);
    color:rgb(219, 217, 217);
    margin-bottom: 10px;

}

@media screen and (max-width: 720px) {
    #proyectos img{
        width:300px; 
        height:200px;       
    }

    #proyectos h3,
    #proyectos h4{
        font-size: 10px;
    }
}